@tailwind base;
@tailwind components;
@tailwind utilities;

.text-headline1 {
  font: 700 5rem / normal Roboto;
}
.text-buttons {
  font: 500 1rem/1.5rem Roboto;
}
.text-headline2 {
  font: 700 2.5rem / normal Roboto;
}
.text-body2-bold {
  font: 700 1rem/1.5rem Roboto;
}
.text-body2-regular {
  font: 400 1rem/1.5rem Roboto;
}
.text-body1-regular {
  font: 400 1.125rem/2.125rem Roboto;
}
.text-body1-bold {
  font: 700 1.125rem/2.125rem Roboto;
}

html {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  padding: 0 16px;
  width: 100%;
  max-width: 1056px;
  margin: 0 auto;
}

.header {
  position: relative;
  min-height: 500px;
}
.header > .wrapper {
  position: relative;
  z-index: 2;
}
.header__hero {
  position: absolute;
  top: 50%;
  right: 0;
  width: 600px;
  transform: translateY(-30%);
  z-index: 3;
}
.header__content__title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: -0.04em;
}
@media screen and (min-width: 768px) {
  .header__content__title {
    @apply text-headline1;
  }
}
.header__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  clip-path: polygon(0 0, 100% 0, 100% 14%, 0 100%);
  background: radial-gradient(
      73.93% 155.79% at 56.93% 16.11%,
      #ee755c 16.67%,
      rgba(144, 224, 255, 0) 48.34%
    ),
    radial-gradient(
      34.96% 33.39% at 56.66% 50%,
      #ff333d 44.79%,
      rgba(169, 96, 238, 0) 83.19%
    ),
    radial-gradient(
      13.35% 23.03% at 6.58% 67.25%,
      #afe9ff 0%,
      #90e0ff 41.45%,
      rgba(144, 224, 255, 0) 100%
    ),
    radial-gradient(
      19.75% 48.55% at 19.59% 56.88%,
      #b8ebff 0%,
      #90e0ff 60.58%,
      rgba(169, 96, 238, 0) 83.24%
    ),
    radial-gradient(
      10.9% 23.5% at 7.65% 84.98%,
      #a960ee 25.96%,
      rgba(255, 51, 61, 0) 100%
    ),
    radial-gradient(
      27.77% 40.9% at 19.29% 57.22%,
      rgba(144, 224, 255, 0.1) 50.74%,
      rgba(169, 96, 238, 0) 100%
    ),
    radial-gradient(
      20.43% 35.1% at 45.83% 17.78%,
      #ffcb57 31.7%,
      rgba(238, 117, 92, 0) 100%
    ),
    radial-gradient(
      26.67% 62.22% at 0% 100%,
      #ff333d 19.21%,
      rgba(183, 120, 224, 0) 54.54%
    ),
    radial-gradient(
      24.52% 60.67% at 5.34% 39.33%,
      #ffcb57 41.18%,
      rgba(183, 120, 225, 0) 71.99%
    ),
    conic-gradient(
      from 3.28deg at 22.11% 40.38%,
      rgba(169, 96, 238, 0) 0deg,
      #90e0ff 178.27deg,
      rgba(169, 96, 238, 0) 360deg
    ),
    radial-gradient(34.48% 62.34% at 21.35% 32.43%, #a960ee 0%, #c788cb 100%);
  background-blend-mode: hard-light, normal, normal, normal, normal, normal,
    normal, normal, normal, normal, normal;
  z-index: 1;
}
.header__content {
}

.company-logo {
  @apply grid place-items-center w-full;
}

.company-logo img {
  @apply h-6 md:h-10;
}

.unified-platform {
  background: linear-gradient(180deg, #fbfcfe 0%, #dde0e5 84.45%), #f6f9fc;
}

.unified-platform__grid {
  display: grid;
  gap: 24px;
  grid-template-columns: 272px 453.33px 226px;
  grid-template-rows: 86px 201px 126px 425px;
  width: 100%;
  overflow: hidden;
}

.unified-platform__grid > div {
  width: 100%;
  height: 100%;
}

.unified-platform__grid img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.unified-platform__grid__credit-card {
  grid-row: 2 / 3;
}
.unified-platform__grid__slack {
  grid-row: 2 / 4;
  grid-column: 2 / 3;
}
.unified-platform__grid__pos {
  grid-row: 1 / 4;
  grid-column: 3 / 4;
}
.unified-platform__grid__phone {
  grid-row: 3 / 5;
}
.unified-platform__grid__rocket-rides {
  grid-column: 2 / 5;
}
.divider {
  clip-path: polygon(0 100%, 100% 0, 100% 100%, 0% 100%);
}

.button {
  @apply flex gap-2 items-center my-8 px-4 py-2 rounded-full  text-buttons;
}

.card {
  @apply flex flex-col items-start gap-6;
}
.card__body {
  @apply flex flex-col items-start gap-1;
}
.card__body__title {
  @apply pl-4 border-l-[2px] border-blue text-body2-bold;
}
.card__body__desc {
  @apply pl-[18px];
}
.card__link {
  @apply flex gap-2 items-center pl-[18px] pr-4 py-2 text-blue text-buttons;
}
